body {
    background: #E49FFA;
    color: #312236;
}

h1 {
    font-family: Algerian, sans-serif;
}

q {
    font-family: "Arial Rounded MT Bold", serif;
    font-size: 18px;
}

img {
    height: 100px;
    width: 60px;
}

sub {
    margin: 20px;
    display: block;
}

.header {
    display: inline;
    font-family: "Arial Rounded MT Bold", serif;
    font-size: 17px;
    color: #412E47;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 5px 5px 5px;
    border: 1px solid #412E47;
    border-radius: 12px;
    box-shadow: 7px 7px #412E47;
    /*font-weight: normal;*/
    /*font-stretch: semi-expanded;*/
}

.mainText {
    display: inline-block;
    font-family: "Arial Rounded MT Bold", serif;
    font-size: 18px;
    color: #412E47; /* Цвет текста */
    /*font-weight: normal;*/
    /*font-stretch: semi-expanded;*/
    border: 1px solid #412E47;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5); /* Цвет фона под заголовком */
    padding: 5px 5px 5px 5px; /* Поля вокруг текста */
    box-shadow: 7px 7px #412E47;
    line-height: 25px;
}

.contacts {
    font-family: "Arial Rounded MT Bold", serif;
    /*font-weight: normal;*/
    /*font-stretch: semi-expanded;*/
    background: rgba(255, 255, 255, 0.5); /* Цвет фона под заголовком */
    color: #412E47; /* Цвет текста */
    padding: 5px; /* Поля вокруг текста */
    border-radius: 12px;
    font-size: 18px;
    border: 1px solid #412E47;
    box-shadow: 7px 7px #412E47;
    line-height: 25px;
}

a {
    text-decoration: none;
    color: #412E47 !important;
}

